.bg-color-secondary {
	background-color: #800040;
}
.text-secondary {
    color: #800040 !important;
}
.section-secondary {
    background-color: #800040;
}
.but-stbutton-2 {
    background: #800040;
}
.section-secondary {
    background-color: #800040;
}
a.secondary {
    color: #800040;
}
.boxlight-hover-secondary:hover {
    background-color: #800040;
}
.section-secondary {
    background-color: #800040;
}
.but-stbutton-8 {
    color: #800040;
}
.but-stbutton-11:hover {
	box-shadow: inset 200px 0px 0 0px #800040;
}
.but-stbutton-4 > a {
    color: #800040;
}
.background-image01 {
    background: #800040;
}
.img-hover-text-1 {
    background: #800040;
}
.feature-box-2 .img-box-main .img-box .sc-icons-box{
	background-color:#800040;
}
.slider-button-2 a:hover {
	box-shadow: inset 250px 0 0 0px #800040;
}
.bg-shape-image::before {
    background:#800040;
}
.feature-box-3 .item-holder .text-box{
	background-color:#800040;
}
.feature-box-3 .btn-circle.primary {
    border: 1px solid #800040;
    color: #800040;
}
.feature-box-4:hover .img-box .text-box, .feature-box-4.active .img-box .text-box{
	background-color:#800040;
}
.feature-box-5:hover {
	-webkit-box-shadow: 0px 0px 0px 12px #800040;
}
.feature-box-8:hover, .feature-box-8.active {
	background-color: #800040;
	border: 1px solid #800040;
}
.feature-box-8:hover .iconbox-small, .feature-box-8.active .iconbox-small {
	color: #800040;
}
.feature-box-9:hover, .feature-box-9.active{
	background-color: #800040;
}
.text-secondary {
    color: #800040 !important;
}
.slider-button-2 a:hover {
	box-shadow: inset 250px 0 0 0px #800040;
}
.but-stbutton-8 {
    color: #800040;
}
.parallax-overlay.secondary {
	background-color: #800040;
}
.loader-item.style2 > div {
  background-color: #800040;
}
.loader-item.style3 > div {
  background-color: #800040;
}
.loader-item.style4 > div {
  background-color: #800040;
}
.loader-item.style5 > div {
  background-color: #800040;
}