#edit-mail--description {
  display:none;
}

.apar-page-register form label{
  margin: 0;
}

div.js-form-type-radio label.option{
  vertical-align:unset;
  font-size:18px;
  line-height:18px;
}

div.js-form-type-radio input.form-radio {
  margin: 0;
}

#edit-account .field-icon{
  position:relative;
  top: -64px;
  left: 10px;
}
