// Page
// -----------------------------------------------------------------------------
article.page--full.node {
  position: initial;
  margin: 0 -15px;
  .paragraph--type--section {
    position: relative;
    left: 0px;
  }
}
