@import "../../scss/init";

.paragraph--type--cards-block .field--name-field-card {
  display: flex;
  padding: 20px 23px;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background: $primary-background;
  color: $on-primary;
  box-shadow: $card-elevated-shadow;

  & > .field__item {
    @include media-breakpoint-up(md) {
      width: unset;
    }
    width: 100%;

    &:not(:last-of-type) {
      border-bottom: 2px dashed $on-primary;
      @include media-breakpoint-up(md) {
        border-bottom: none;
        border-right: 2px dashed $on-primary;
      }
    }
    height: 250px;

    .paragraph--type--orange-card {
      display: flex;
      @include media-breakpoint-up(md) {
        max-width: 348.333px;
      }
      width: 100%;
      height: 100%;
      padding: 33px 0;

      flex-direction: column;
      justify-content: end;
      align-items: center;
      gap: 42px;

      .field--name-field-icon {
        .media--type-image {
          .field--name-field-media-image {
            .field__item {
              img {
                display: block;
              }
            }
          }
        }
      }

      .field--name-field-text {
        color: $on-primary;
        text-align: center;
        font-family: $font-family-sans-serif;
        font-size: $lead-font-size;
        font-style: normal;
        font-weight: 500;
        height: 75px;
        line-height: 100%; /* 25px */
        align-content: center;
        padding: 0 5px;
      }
    }
  }
}
