@import "../../scss/init";

.paragraph--type--static-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .field--name-field-background {
    width: 100%;
    overflow: hidden;
    max-height: calc(100vh - 125px);

    .media--type-image {
      .field__item {
        img {
          height: calc(100vh - 56px);
          object-fit: cover;
          object-position: center;
          width: 100%;

          @include media-breakpoint-up(md) {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  .group-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    .field--name-field-title {
      color: $primary;
      text-align: center;
      font-family: Karla, sans-serif;
      font-size: 47px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%;
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        margin-bottom: 5px;

        font-size: 4rem;
      }
    }

    .field--name-field-subtitle {
      color: $black;
      text-align: center;
      font-family: Karla, sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;

      /* 24px */
      margin-bottom: 40px;
    }

    .field--name-field-button {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0 10px;

      a {
        @extend .btn;
        @extend .btn-primary;

        color: $white;
        font-family: $font-family-base;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        width: 100%;
        max-width: 417.589px;
        // height: 78.389px;

        padding: 15px 0;
        justify-content: center;
        align-items: center;
        gap: var(--sds-size-space-200);
        flex-shrink: 0;
        border-radius: $btn-border-radius;
        background: $primary;
      }
    }
  }
}
