@include media-breakpoint-down(md) {
  .block--orse-eventos-mainmenu ,.block--orse-eventos-menudecontadeusuario{
    .nav {
      flex-direction: column;
      .nav-item {
        a {
          font-size: clamp(0.7em, calc(0.7em + 1vw), 2em);
          margin: 2px 0;
        }
      }
    }
    .nav-link {
      padding: 0.5rem 1rem 0.5rem 0rem;
    }
  }
  .block--orse-eventos-branding{
    max-width: calc(70vw);
  }

}
.navbar-toggler{
  font-size: clamp(1.4em,calc(1em + 1vw),2em);
}
