.container-inline .webform-flex--container > .form-item > input:not([type="checkbox"]),
.container-inline .webform-flex--container > .form-item > select,
.webform-flex--container > .form-item.webform-element--title-inline > input:not([type="checkbox"]),
.webform-flex--container > .form-item.webform-element--title-inline > select {
  width: unset;
}

.webform-submission-formulario-fotografo-add-form{
  margin: 30px 0;
}

.webform-submission-form .form-item {
  margin: 10px 0;
}

.webform-submission-form .form-item.js-form-radio{
  margin: 0;
}

.webform-submission-formulario-fotografo-add-form .form-item{
  display:flex;
  justify-content: space-around;
}

.webform-submission-formulario-fotografo-add-form .form-item.form-item-observacoes > div,
.webform-submission-formulario-fotografo-add-form .form-item.form-item-observacoes > div > textarea {
  width:100%
}

.webform-submission-formulario-fotografo-add-form fieldset.form-item{
  display:block;
}

#webform-submission-formulario-cliente-node-155-add-form input,
#webform-submission-formulario-cliente-node-155-add-form textarea {
  max-width:calc(100% - 25px);
  margin: 10px 0;
}

#webform-submission-formulario-cliente-node-155-add-form {
  padding: 20px;
  background-color: white;
}
#webform-submission-formulario-cliente-node-155-add-form div.form-item,
#webform-submission-formulario-cliente-node-155-add-form div.form-actions,
#webform-submission-formulario-cliente-node-155-add-form fieldset {
  max-width: 500px;
  margin:10px auto;
}

.webform .sec-padding {
  background-color: #8EEB4C;
}

.section-green{
  background-color:#8EEB4C;
}

.section-orange{
  background-color:#EB673F;
}

.header-section {
  min-height: 75px;
}

.btn-primary:hover{
  background-color:#EB673F;
  border-color:#EB673F;
}

.ui-datepicker-calendar tr {
  display:table-row;
}

.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
  display:table-cell;
}

.field__label {
  font-weight: bold;
}


#webform-submission-formulario-cliente-node-155-add-form input[type=radio] {
    display:none;
    margin:10px;
}


#webform-submission-formulario-cliente-node-155-add-form input[type=radio] + label {
  padding: 4px 12px;
  background-color: #e7e7e7;
  border-color: #ddd;
  width:25%;
}

#webform-submission-formulario-cliente-node-155-add-form input[type=radio]:checked + label {
  background-image: none;
  background-color:#8EEB4C;
  border-color: #8EEB4C;
}

.table-meus-eventos table,
.table-orcamentos table{
  width: 100%;
  border: 1px solid #ddd;
}

.table-meus-eventos table > thead > tr > th,
.table-meus-eventos table > tbody > tr > td,
.table-orcamentos table > thead > tr > th,
.table-orcamentos table > tbody > tr > td{
  border:1px solid #ddd;
  text-align: center;
}

.table-meus-eventos table > thead,
.table-orcamentos table > thead {
  background-color:#8EEB4C;
  color:white;
}

.table-meus-eventos table > thead a,
.table-orcamentos table > thead a{
  color: white;
}

.table-meus-eventos-links-col,
.table-orcamento-links-col {
  padding:20px;
}

.table-meus-eventos-links-col a,
.table-orcamento-links-col a {
    background-color: #EB673F;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.table-meus-eventos-links-col a:hover,
.table-orcamento-links-col a:hover {
    background-color: #286090;
    color:white;
}

.node--type-formulario-fotografo {
  border: 1px solid #ddd;
}

.node--type-formulario-fotografo fieldset .fieldset-wrapper{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding: 20px 0;
}

.header-orcamento {
padding: 40px 0;
display: flex;
justify-content: space-around;
}

.node--type-formulario-fotografo .node__meta {
text-align: center;
}

.node--type-formulario-fotografo .field--name-body {
  padding: 0 30px
}

#views-exposed-form-respostas-fotografos-page-1,
#views-exposed-form-respostas-fotografos-block-1 {
  display: grid;
  grid-template-areas:
    'fotografo data-min valor-min empty'
    'fotografo data-max valor-max empty';
  grid-template-columns: 22% 25% 23% 22%;
  grid-gap: 15px;
  margin-bottom:20px;
}

#views-exposed-form-respostas-fotografos-page-1 .js-form-type-entity-autocomplete,
#views-exposed-form-respostas-fotografos-block-1 .js-form-type-entity-autocomplete {
  grid-area: fotografo;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

#views-exposed-form-respostas-fotografos-page-1 > div.js-form-item:nth-child(2),
#views-exposed-form-respostas-fotografos-block-1 > div.js-form-item:nth-child(2) {
  grid-area: data-min;
  display:flex;
  flex-direction:column;
}

#views-exposed-form-respostas-fotografos-page-1 > div.js-form-item:nth-child(3),
#views-exposed-form-respostas-fotografos-block-1 > div.js-form-item:nth-child(3) {
  grid-area: data-max;
  display:flex;
  flex-direction:column;
}

#views-exposed-form-respostas-fotografos-page-1 > div.js-form-item:nth-child(4),
#views-exposed-form-respostas-fotografos-block-1 > div.js-form-item:nth-child(4) {
  grid-area: valor-min;
  display:flex;
  flex-direction:column;
}

#views-exposed-form-respostas-fotografos-page-1 > div.js-form-item:nth-child(5),
#views-exposed-form-respostas-fotografos-block-1 > div.js-form-item:nth-child(5) {
  grid-area: valor-max;
  display:flex;
  flex-direction:column;
}

#views-exposed-form-respostas-fotografos-page-1 > div.form-actions,
#views-exposed-form-respostas-fotografos-block-1 > div.form-actions {
  grid-area: empty;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

#views-exposed-form-respostas-fotografos-page-1 > div.form-actions input,
#views-exposed-form-respostas-fotografos-block-1 > div.form-actions input {
  background-color: #EB673F;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}


@media screen and (max-width: 720px) {
  #webform-submission-formulario-cliente-node-155-add-form input[type=radio] + label {
    width:50%;
  }
}
