.container-inline .webform-flex--container > .form-item > input:not([type="checkbox"]),
.container-inline .webform-flex--container > .form-item > select,
.webform-flex--container > .form-item.webform-element--title-inline > input:not([type="checkbox"]),
.webform-flex--container > .form-item.webform-element--title-inline > select {
  width: unset;
}

.webform-submission-form .form-item {
  margin: 10px 0;
}

.webform-submission-form .form-item.js-form-radio{
  margin: 0;
}

.webform-submission-formulario-fotografo-add-form .form-item{
  display:flex;
  justify-content: space-around;
}

.webform-submission-formulario-fotografo-add-form fieldset.form-item{
  display:block;
}

#webform-submission-formulario-cliente-node-155-add-form input,
#webform-submission-formulario-cliente-node-155-add-form textarea {
  max-width:calc(100% - 25px);
  margin: 10px 0;
}

#webform-submission-formulario-cliente-node-155-add-form {
  padding: 20px;
  background-color: white;
}
#webform-submission-formulario-cliente-node-155-add-form div.form-item,
#webform-submission-formulario-cliente-node-155-add-form div.form-actions,
#webform-submission-formulario-cliente-node-155-add-form fieldset {
  max-width: 500px;
  margin:10px auto;
}

.webform .sec-padding {
  background-color: #8EEB4C;
}

.section-green{
  background-color:#8EEB4C;
}

.section-orange{
  background-color:#EB673F;
}

.header-section {
  min-height: 75px;
}

.btn-primary:hover{
  background-color:#EB673F;
  border-color:#EB673F;
}

.ui-datepicker-calendar tr {
  display:table-row;
}

.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
  display:table-cell;
}

.field__label {
  font-weight: bold;
}


#webform-submission-formulario-cliente-node-155-add-form input[type=radio] {
    display:none;
    margin:10px;
}


#webform-submission-formulario-cliente-node-155-add-form input[type=radio] + label {
  padding: 4px 12px;
  background-color: #e7e7e7;
  border-color: #ddd;
  width:25%;
}

#webform-submission-formulario-cliente-node-155-add-form input[type=radio]:checked + label {
  background-image: none;
  background-color:#8EEB4C;
  border-color: #8EEB4C;
}

.table-orcamentos table{
  width: 100%;
  border: 1px solid #ddd;
}

.table-orcamentos table > thead > tr > th,
.table-orcamentos table > tbody > tr > td{
  border:1px solid #ddd;
  text-align: center;
}

.table-orcamentos table > thead {
  background-color:#8EEB4C;
  color:white;
}

.table-orcamentos table > thead a{
  color: white;
}

.table-orcamento-links-col {
  padding:20px;
}

.table-orcamento-links-col a {
    background-color: #EB673F;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.table-orcamento-links-col a:hover {
    background-color: #286090;
    color:white;
}

.node--type-formulario-fotografo {
  border: 1px solid #ddd;
}

.node--type-formulario-fotografo fieldset .fieldset-wrapper{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding: 20px 0;
}

.header-orcamento {
padding: 40px 0;
display: flex;
justify-content: space-around;
}

.node--type-formulario-fotografo .node__meta {
text-align: center;
}

@media screen and (max-width: 720px) {
  #webform-submission-formulario-cliente-node-155-add-form input[type=radio] + label {
    width:50%;
  }
}
