// Page: Content
// -----------------------------------------------------------------------------
.page__content {
  min-height: 60vh;
  .container-fluid {
    > .block {
      margin: 0 -15px;
      padding: 0 15px;
    }
    > .row {
      > .col-md-12,
      .col-lg-12,
      .col-xl-12 {
        > .block {
          margin: 0 -15px;
          padding: 0 15px;
        }
        > .block.block--bloco-fundo-verde,
        .block.block--bloco-fundo-laranja,
        .block.block--bloco-fundo-escuro {
          padding: 15px;
        }
      }
    }
    .block--orse-eventos-content {
      margin-bottom: 50px;
    }
    .block--conteudohome .bloco-fundo-verde__body {
      padding: 2.5rem 0;
      img{
        margin: 3rem auto 0 auto;
      }
    }
  }
}

.webform {
  .page__content {
    background-color: $primary;
    padding: 50px 0;
  }
}

.block--bloco-fundo-verde {
  background-color: $primary;
  color: black;
  padding: 40px 0;
}

.block--bloco-fundo-laranja {
  background-color: $secondary;
  color: white;
  padding: 40px 0;
}

.block--bloco-fundo-escuro {
  background-color: $dark;
  color: white;
  padding: 40px 0;
}

#views-exposed-form-respostas-fotografos-page-1 {
  display: grid;
  grid-template-areas:
    "fotografo data-min valor-min empty"
    "fotografo data-max valor-max empty";
  grid-template-columns: 22% 25% 23% 22%;
  grid-gap: 15px;
  margin-bottom: 20px;
  > .js-form-type-entity-autocomplete {
    grid-area: fotografo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  > div.js-form-item:nth-child(2) {
    grid-area: data-min;
    display: flex;
    flex-direction: column;
  }
  > div.js-form-item:nth-child(3) {
    grid-area: data-max;
    display: flex;
    flex-direction: column;
  }
  > div.form-actions {
    grid-area: empty;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.layout.layout--onecol{
  padding: 2rem 0;
}
