// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {

}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {
  color: $black;
  @include hover {
    color:primary;
  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}


// Image
// -----------------------------------------------------------------------------
img {
  max-width:100%;
  height: auto;
}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}
