@mixin header-size-text-editor($sizes) {
  @each $name, $size in $sizes {
    .header-text-editor-#{$name} {
      font-size: $size;
      text-align: center;
      font-weight: 600;
      margin: 1rem 0 1rem;
      font-family: "Lato", sans-serif;
      color: rgb(44, 44, 44);
    }
  }
}
@include media-breakpoint-down(md) {
    $sizes: (
    "pp": $font-size-base * 1.4,
    "p": $font-size-base * 1.7,
    "m": $font-size-base * 1.9,
    "g": $font-size-base * 2.1,
    "gg": $font-size-base * 2.3,
  );
  @include header-size-text-editor($sizes);
}

@include media-breakpoint-up(md) {
  $sizes: (
    "pp": $font-size-base * 2,
    "p": $font-size-base * 2.3,
    "m": $font-size-base * 2.8,
    "g": $font-size-base * 3.4,
    "gg": $font-size-base * 4,
  );
  @include header-size-text-editor($sizes);
}
